#HomepageTitle {
	background: url(../images/banners/nanpu-bridge_blured.jpg) no-repeat center 30%;
	color: white;
	h1 {font-size: 5em;}
	p {font-size: 1.6em;}
}
#HomepageTitle h1 {font-size: 5em;}
#HomepageTitle p {font-size: 1.6em;}